<h2><%=@task.title%></h2>
<p><%=@task.details%></p>
<p><%if @task.completed == true%>
      <%="This task is completed"%>
      <%else%>
      <%="This task is not completed yet"%>
    <%end%></p>
<br>
<%= link_to "Back to list", tasks_path %>
<br>
<%= link_to "Update a task", edit_path %>
<br>
<%= link_to "Delete #{@task.title}",
            task_path(@task),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
